
{% if result is defined and result is not null %}
    <div class="alert alert-success" role="alert">{{ result }}</div>
{% endif %}


{% if formBuilderId is defined and formBuilderId is not null %}

    {% if form is defined %}

        <form method="POST" class="form-horizontal" {{ form_enctype(form) }}>

            {{ form_widget(form) }}

            <input type="hidden" name="formId" class="form-num " value="{{ formBuilderId }}">
        </form>

    {% endif %}
{% else %}
    Form not found !
{% endif %}