<h2>{{ name }}</h2>

<table border="1">
    {% for key, header in data['headers'] %}
        <tr>
            <td>{{ header }}</td>
            <td>{{ data['data'][key] }}</td>
        </tr>
    {% endfor %}
</table>